
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

body{
    background-color: #E5E5E5;
    font-family: "Inter", sans-serif;
}
.seccion_logo{
    background-color: #E5E5E5;
    padding: 5px;
}
.logo{
    height: 20px;
}
.seccion_uno{
    order: 1;
    width: 60%;
    background-color: #E5E5E5;
    padding: 10px;
    
}
.seccion_dos{
    order: 2;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(179, 179, 182);
    display: block;
    
}
.muñeco{
    height: 25em;
    
}
.mensaje_inicial{
    text-align: center;
}
.seccion_desencriptada{
    padding: 20px 10px 0px 10px; 
}
.seccion_dos_real{
    order: 2;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(179, 179, 182);
    display: none;
}

.button{
    font-family: "Inter", sans-serif;
    background-color: #0A3871;
    border-style: hidden;
    color: #D8DFE8;
    border-radius: 12px;
    padding: 12px;
    margin: 3px;
    width: 100px;
    cursor: pointer;

}
.button:hover {
    background-color: #214572;
}
.caja_desencriptada{ 
    border-style: none;
    background-color: #E5E5E5;
    resize: none;
    height: 35em;
    width: 100%;
    overflow: auto;
    outline: none;
    padding-top: 30px;
    
}

.caja_encriptada{
    border-style: none;
    background-color: white;
    resize: none;
    height: 35em;
    width: 100%;
    overflow: auto;
    outline: none;
    
    
}
.seccion_boton_copiar{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}
.seccion_botones{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.botones_encriptar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texto_botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.texto_advertencia{
    font-size: 1em;
}
.caja_encriptada::placeholder{
    color: #0A3871;
    text-align: center;
}
.caja_desencriptada::placeholder{
    color: #0A3871;
    text-align: center;
}
@media screen and (max-width: 1100px){
    .muñeco{
        max-height: 25em;
        width: 100%;
    }
}
@media screen and (max-width: 850px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .seccion_uno{
        width: 90%;
    }
    .seccion_dos{
        width: 90%;
    }
    .seccion_dos_real{
        width: 90%;
        
    }
    .caja_encriptada{
        height: 20em;
    }
    .caja_desencriptada{
        height: 20em;
    }
    .muñeco{
        height: auto;
        width: 100%;
    }

}
